---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'footer'> {
  showFooter: boolean
}

const { showFooter=true, ...attrs } = Astro.props

const year = new Date().getFullYear()

const { website, author } = Astro.locals.config
---

{showFooter &&  <footer font-bold text-3 un-flex="~ col gap-1" un-lg="gap-3.5" {...attrs}>
  <p>
    © {year}
  </p>
  <p>
    Theme powered by
    <a target="_blank" href="https://github.com/Moeyua/astro-theme-typography" rel="noopener noreferrer">Typography</a>
  </p>
  <p>
    Proudly published with
    <a target="_blank" href="https://astro.build" rel="noopener noreferrer">Astro</a>
  </p>
</footer>}
